__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so

.venv/
venv/
ENV/
env/
env.bak/
venv.bak/

.vscode/
.idea/
*.swp

.env
.env.*
*.env

*.pid
docker-compose.override.yml

.pytest_cache/
.coverage
htmlcov/

.mypy_cache/
.dmypy.json
.pyre/
.pytype/

.DS_Store
Thumbs.db

prisma/
node_modules/

__pydantic__/