[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
httpx = "*"
uvicorn = "*"
faster-whisper = "*"
python-dotenv = "*"
pydantic = "*"
g4f = "*"
spacy = "*"
torch = {version="*", index="https://download.pytorch.org/whl/cpu"}
torchvision = {version="*", index="https://download.pytorch.org/whl/cpu"}
torchaudio = {version="*", index="https://download.pytorch.org/whl/cpu"}

[dev-packages]

[requires]
python_version = "3.11"
